<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://192.168.22.128:3306/LeBon2i</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
      <mapping class="modele.AnnoncesE"/>
      <mapping class="modele.AnnoncesHasCriteresE"/>
      <mapping class="modele.CategoriesE"/>
      <mapping class="modele.CriteresE"/>
      <mapping class="modele.SurCategoriesE"/>
      <mapping class="modele.UtilisateursE"/>
      <mapping class="modele.ValeursPossiblesE"/>
      <mapping class="modele.VillesE"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>
